:root {
  --hue: 206;

  --highlight: hsl(206, 95%, 41%);
}

.cp .logo,
.cp nav a,
.cp .hero-left .sub-title,
.cp .hero-left,
.cp .hero-left h1,
.cp .copyright {
  color: white;
}

.cp nav a.button-sm {
  color: var(--text);
  background-color: var(--subtle);
}

.cp nav a:hover {
  color: var(--text);
}

.cp nav a:hover:not(.button-sm) {
  border-bottom-color: var(--text);
}

.cp .page-header,
.cp .footer {
  background-color: var(--highlight);
}

.play-button {
  width: 12rem;
}

.cp .hero-right img {
  width: fit-content;
  margin: 0;
}

.cp .hero-left .sub-title::after {
  background-color: white;
}

.cp .hero-left h2 {
  font-size: 1rem;
}

.cp .hero-left p {
  color: white;
}

.cp .data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cp .data-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cp .hero-left a {
  display: flex;
  margin-top: 2.5rem;
  width: fit-content;
}

footer.footer {
  background-color: #f5f9fc;
}

.cp .hero-left .button-lg {
  border: 0.125rem solid white;
  color: white;
}

/* .cp .hero-left .button-lg:hover {
  color: red;
  background-color: white;
} */

.cp section .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cp section h1 {
  color: #293847;
}

.cp .funcionalidades {
  background-color: var(--subtle);
}

.cp .funcionalidades .container {
  justify-content: space-between;
  flex-direction: row;
  gap: 8rem;
}

.cp .funcionalidades img {
  width: 10%;
  flex-basis: 100%;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.25rem 0 hsla(var(--hue), 20%, 50%, 0.08);
}

.cp .hero-left a:hover {
  opacity: 0.7;
  transition: all 0.2s linear;
}

.cp #header-top {
  background-color: rgba(5, 118, 203, 0.85);
}

.cp .back_to_top {
  border: 3px solid var(--highlight);
}

.cp .back_to_top path {
  fill: var(--highlight);
}

.cp .back_to_top:hover,
.cp .overview {
  background-color: white;
}

.cp .back_to_top:hover path {
  fill: var(--highlight);
}

.cp .contacts a:hover {
  color: white;
}

.cp .contacts a:hover .contact-icon {
  background-color: white;
}

@media only screen and (max-width: 1199px) {
  .cp .hero-right img {
    width: 100%;
  }

  .cp .hero-left h1 {
    white-space: break-spaces;
  }
}

@media only screen and (max-width: 768px) {
  .cp .data-wrapper {
    padding-right: 0;
  }

  .hero-right.cp img {
    width: 100%;
  }

  .hero-content.cp {
    gap: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .cp .hero-right {
    display: flex;
  }

  .cp nav .button-md {
    background-color: transparent;
    border-color: transparent;
  }

  .hero-left .sub-title {
    padding-right: 0;
  }

  .hero-right {
    width: 100%;
  }

  .cp .funcionalidades .container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .cp .funcionalidades img {
    width: 66%;
  }

  .cp .button-menu path {
    fill: white;
  }

  nav ul {
    background-color: rgba(5, 118, 203);
  }
}
