:root {
  --hue: 60;
}

.guar #header-top {
  background-color: hsla(60, 60%, 8%, 0.8);
}

.guar .footer {
  background-color: #4d4d3a;
}

.guar .page-header {
  background-color: white;
}

.guar .page-header,
.guar main,
.guar .contact {
  overflow: visible;
}

.guar .logo,
.guar nav a,
.guar .copyright {
  color: white;
}

.guar nav a:hover {
  color: var(--text);
}

.guar nav a:hover:not(.button-sm) {
  border-bottom-color: var(--text);
}

.guar #header-top .button-sm {
  background-color: white;
  color: var(--text);
  border-color: white;
}

.play-button {
  width: 12rem;
}

.guar .hero-left .sub-title::after {
  background-color: var(--highlight);
}

.guar .hero-right img {
  width: fit-content;
  margin: 0;
  border-radius: 1.25rem;
  box-shadow: 1rem 1rem 10rem -1rem hsla(var(--hue), 20%, 50%, 0.4);
}

.guar .hero-left .button-lg:hover {
  background-color: var(--highlight);
  color: var(--subtle);
  border-color: var(--highlight);
}

.guar .hero-left h2 {
  font-size: 1rem;
  color: var(--text-highlight);
}

.guar .data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.guar .data-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.guar .hero-left a {
  display: flex;
  margin-top: 2.5rem;
  width: fit-content;
}

.guar section .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.guar .overview {
  background-color: white;
  box-shadow: 0 0 10rem 0 hsla(var(--hue), 20%, 50%, 0.1);
}

.guar .funcionalidades .container {
  flex-direction: row;
  gap: 0;
}

.guar .funcionalidades .guar-sec {
  margin-left: -2rem;
  margin-top: 12rem;
}

.guar .funcionalidades img {
  width: calc(50% + 1rem);
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 10rem -1rem hsla(var(--hue), 20%, 50%, 0.4);
}

.guar .hero-left a:hover {
  transition: all 0.2s linear;
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 768px) {
  .guar .data-wrapper {
    padding-right: 0;
  }

  .guar .hero-right img {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .guar .hero-right {
    display: flex;
    width: 100%;
  }

  .guar nav .button-md {
    background: transparent;
    border-color: transparent;
  }

  .hero-left .sub-title {
    padding-right: 0;
  }

  .guar .button-menu path {
    fill: white;
  }

  nav ul {
    background-color: hsl(60, 60%, 8%);
  }

  .guar .funcionalidades .container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .guar .funcionalidades img {
    width: 80%;
  }

  .guar .funcionalidades .guar-sec {
    margin: 0;
  }
}
