:root {
  --hue: 96;
}

.play-button {
  width: 12rem;
  transition: opacity 0.1s linear;
}
.play-button:hover {
  opacity: 0.7;
  transition: opacity 0.1s linear;
}

.hc .page-header {
  background-color: white;
}

.hc .hero-right {
  flex-grow: 1;
}

.hc .hero-right img {
  width: 100%;
  max-width: fit-content;
  margin: 0;
}

.hc .hero-left {
  flex-basis: 33.333%;
  padding-right: 0;
}

.hc .hero-left h2 {
  font-size: 1rem;
}

.hc .data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 33.33%;
}

.hc .data-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hc .hero-left a {
  display: flex;
  margin-top: 2.5rem;
  width: fit-content;
}

.hero-content.hc {
  gap: 1rem;
}

.hc .funcionalidades .container {
  flex-direction: row;
  justify-content: space-between;
}

.hc .funcionalidades .left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  flex-basis: 41.67%;
}

.hc .funcionalidades .right {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  flex-basis: 58.33%;
  justify-content: center;
}

.hc .funcionalidades .right h2 {
  font-size: 1.125rem;
}

.hc .funcionalidades .right > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hc .funcionalidades .right > div div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media only screen and (max-width: 1199px) {
  .hc .funcionalidades .right img {
    width: 71%;
  }

  .hc .funcionalidades .container {
    gap: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .hc .data-wrapper {
    padding-right: 0;
  }

  .hc .concepcao p {
    width: 66.66%;
  }

  .hc .funcionalidades img {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .button-menu path {
    fill: var(--primary-900);
  }

  .hero-right.hc {
    display: flex;
  }

  .hc nav a {
    color: white;
  }

  .hc nav a.button-sm {
    color: var(--primary-900);
  }

  .hc .hero-content {
    gap: 3rem;
    flex-direction: column;
    padding: 3rem 0 5rem;
  }

  .hc .hero-left {
    width: 66%;
    align-items: start;
    margin: initial;
  }

  .hc .hero-left .sub-title {
    padding-right: 0;
  }

  .hc .concepcao p {
    width: 100%;
  }

  .hc .funcionalidades .container {
    flex-direction: column-reverse;
  }

  .hc .funcionalidades img,
  .hc .funcionalidades .right img {
    width: 66%;
  }

  .hc .funcionalidades .right,
  .hc .funcionalidades .left,
  .hc .funcionalidades .container {
    gap: 2rem;
    align-items: center;
  }
}
