:root {
  --grey-25: #f2f2fc;
  --grey-400: #554d70;
  --grey-900: #25203d;
  --primary-400: #5b31e3;
  --primary-500: #4927c8;
  --primary-600: #381dae;
  --primary-800: #150a78;
  --secondary-25: #dcff99;
  --secondary-50: #c2ff4d;
  --secondary-100: #8dd600;
  --secondary-200: #7eaf1e;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--grey-400);
  scroll-behavior: smooth;
}

.page-header,
main,
footer,
.container {
  box-sizing: border-box;
  width: 100%;
}

.page-header,
main,
footer {
  overflow: clip;
}

h1,
h2 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  color: var(--grey-900);
}

.sub-title {
  font-size: 1.375rem;
  color: var(--grey-900);
  line-height: 1.4;
}

.about-me .left h1 {
  margin-bottom: 3rem;
}

ul {
  list-style: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4;
}

section p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-400);
  overflow-x: clip;
}

.page-header > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: calc(4.75rem + 2px);
}

#header-top {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  align-items: center;
  top: 0;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 9998;
  background-color: rgba(91, 49, 227, 0.85);
  backdrop-filter: blur(0.5rem);
}

#header-top .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#header-top.hide {
  top: calc(-4.75rem + -2px);
}

.logo {
  color: white;
  font-size: 1.25rem;
}

.logo:hover {
  opacity: 0.7;
}

.logo span {
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  padding: 0.5rem 0;
  border-top: 0.125rem solid rgba(255, 255, 255, 0);
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0);
}

nav ul.show-menu a {
  color: white;
}

nav ul.show-menu .button-md {
  color: var(--primary-800);
  background-color: var(--secondary-100);
  border: 1px solid var(--secondary-100);
}

nav a:hover {
  border-bottom: 0.125rem solid var(--secondary-50);
  color: var(--secondary-50);
  transition: all 200ms linear;
}

.hero-content {
  display: flex;
  flex-grow: 1;
  padding: 2rem 0 3rem;
}

.hero-left,
.hero-right {
  display: flex;
  flex-basis: 50%;
}

.hero-left {
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-right: 1rem;
}

.hero-left h1,
.hero-left .sub-title,
nav a {
  color: white;
}

.hero-left h1 {
  margin: 0 0 0.5rem;
  line-height: 1.1;
}

.hero-left .sub-title {
  margin: 1rem 0 3rem;
}

.hero-right {
  align-items: center;
  justify-content: center;
}

.hero-right img {
  width: calc(100% + 6rem);
  margin-right: -6rem;
}

.button-lg {
  height: 4rem;
  padding: 0 2.5rem;
  border-radius: 0.375rem;
  font-size: 1.375rem;
  border: 0.125rem solid var(--secondary-100);
  color: var(--secondary-100);
  display: flex;
  width: max-content;
  align-items: center;
  transition: all 150ms linear;
}

.button-lg:hover {
  background-color: var(--secondary-100);
  color: var(--primary-800);
  transition: all 150ms linear;
}

.button-md {
  height: 2.75rem;
  padding: 0 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-100);
  border: 1px solid var(--secondary-100);
  color: var(--primary-800);
  display: flex;
  width: max-content;
  align-items: center;
  transition: all 150ms linear;
}

.button-md:hover {
  background-color: transparent;
  color: var(--secondary-100);
  border-width: 1px;
  transition: all 150ms linear;
}

section .container,
footer .container {
  padding: 8rem 2rem;
}

.about-me {
  background-color: var(--grey-25);
}

.about-me .container {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.about-me .left div {
  font-size: 1.125rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.about-me .left span {
  color: var(--primary-400);
}

.about-me .right img {
  max-width: 22.5rem;
}

.xray {
  display: flex;
  gap: 1.5rem;
}

.xray > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 33.3333%;
}

.xray-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary-400);
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.xray h2 {
  color: var(--grey-900);
  font-size: 1.125rem;
  line-height: 1;
}

.xray h2::after {
  content: '';
  width: 5rem;
  height: 0.25rem;
  background-color: var(--secondary-100);
  display: block;
  margin-top: 1.5rem;
}

.xray p {
  color: var(--primary-600);
  max-width: 95%;
  line-height: 1.4;
}

.xray ul {
  line-height: 1.8;
}

footer {
  background-color: var(--primary-400);
  color: white;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer h1,
footer .sub-title {
  color: white;
}

footer header,
section header {
  margin-bottom: 3.5rem;
}

.contacts {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto auto;
  column-gap: 3rem;
  row-gap: 1.5rem;
  margin: auto;
}

.contacts a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  white-space: nowrap;
  color: white;
}

.contacts a:hover {
  color: var(--secondary-50);
  transition: all 300ms linear;
}

.contacts a:hover .contact-icon {
  background-color: var(--secondary-50);
  transition: all 0.2s linear;
}

.contact-icon {
  background-color: var(--secondary-25);
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.copyright {
  background-color: var(--primary-500);
  font-size: 0.875rem;
  line-height: 1;
  padding: 1rem;
}

.jobs-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.jobs-row {
  display: flex;
  gap: 1.5rem;
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  aspect-ratio: 16/10;
  flex-basis: 100%;
  position: relative;
}

.job ul {
  display: flex;
  gap: 1rem;
}

.job h2 {
  padding: 0 0 2rem 2.5rem;
  z-index: 2;
  font-weight: 500;
}

.job-img {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
  padding: 0 16%;
}

.handy-chef .job-img {
  filter: drop-shadow(2px 2px 4px rgba(33, 61, 7, 0.16));
}

.job-img img {
  width: 100%;
}

.handy-chef {
  background-color: #fafef5;
  border: 1px solid #ebede8;
}

.handy-chef::after {
  content: '';
  inset: 0;
  background: linear-gradient(180deg, #95eb50 0%, #6fc22b 100%);
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear;
}

.handy-chef h2 {
  color: #213d07;
  position: relative;
  z-index: 2;
}

.hc-oval {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 76%;

  display: none;
}

.hc-burguer {
  position: absolute;
  top: 11.5rem;
  left: 0;
  margin-left: -3rem;
  opacity: 0;
  z-index: 2;

  display: none;
}

.hc-pizza {
  position: absolute;
  top: 1.5rem;
  right: 0;
  margin-right: -3rem;
  opacity: 0;
  z-index: 2;

  display: none;
}

.handy-chef:hover {
  z-index: 999;
}

.handy-chef:hover h2 {
  color: white;
  transition: all 300ms linear;
}

.handy-chef:not(:hover) h2 {
  color: #213d07;
  transition: all 300ms linear;
}

.handy-chef:not(:hover) .hc-burguer,
.handy-chef:not(:hover) .hc-pizza {
  opacity: 0;
  transition: all 300ms linear;
}

.handy-chef:hover::after {
  opacity: 1;
  transition: all 300ms linear;
}

.guararapes {
  background-color: #2d2d2c;
}

.gua-leaf-1 {
  position: absolute;
  top: 2rem;
  left: 0;
  margin-left: -2.5rem;
  opacity: 0;
  z-index: 2;
  transition: all 300ms linear;

  display: none;
}

.gua-leaf-2 {
  position: absolute;
  top: 0;
  right: 10rem;
  margin-top: -2.5rem;
  opacity: 0;
  z-index: 2;
  transition: all 300ms linear;

  display: none;
}

.gua-leaf-3 {
  position: absolute;
  top: 8.5rem;
  right: 0;
  margin-right: -3rem;
  opacity: 0;
  z-index: 2;
  transition: all 300ms linear;

  display: none;
}

.guararapes h2 {
  color: white;
  position: relative;
  z-index: 2;
}

.guararapes::after {
  content: '';
  display: block;
  inset: 0;
  background-color: #f5ebe1;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear;
}

.guararapes:hover::after {
  opacity: 1;
  transition: all 300ms linear;
}

.guararapes:hover h2 {
  color: #2d2d2c;
  transition: all 300ms linear;
}

.guararapes:not(:hover) h2 {
  color: white;
  transition: all 300ms linear;
}

.job a {
  position: absolute;
  inset: 0;
  z-index: 998;
}

.job.controle-patrimonial {
  background-color: #eef6fb;
}

.controle-patrimonial {
  border: 1px solid #deeef8;
}

.job.controle-patrimonial .job-img img {
  border-radius: 0.25rem;
}

.controle-patrimonial:not(:hover) h2 {
  color: #053c66;
  transition: all 300ms linear;
}

.controle-patrimonial:hover h2 {
  color: white;
  transition: all 300ms linear;
}

.controle-patrimonial .job-img {
  filter: drop-shadow(2px 2px 4px rgba(5, 18, 203, 0.16));
}

.controle-patrimonial:hover::after {
  opacity: 1;
  transition: all 300ms linear;
}
.controle-patrimonial::after {
  content: '';
  inset: 0;
  background: linear-gradient(180deg, #0195da 0%, #0950a5 100%);
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear;
}

.job.weird {
  background: rgb(79, 79, 79);
  background: radial-gradient(
    circle,
    rgba(79, 79, 79, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.job.weird h2 {
  color: white;
}

.weird .job-img {
  filter: drop-shadow(2px 2px 4px rgba(5, 18, 203, 0.16));
}

.weird:hover::after {
  opacity: 1;
  transition: all 300ms linear;
}
.weird::after {
  content: '';
  inset: 0;
  background-color: #ff2c31;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear;
}

.button-menu,
.close-menu {
  display: none;
}

.back_to_top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 150;
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  border: 3px solid var(--primary-500);
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  display: flex;
  opacity: 0;
}

.back_to_top:hover {
  background: var(--primary-500);
  transition: all 0.2s linear;
}

.back_to_top:hover path {
  fill: white;
  transition: all 0.2s linear;
}

.back_to_top-show {
  opacity: 1;
  transition: all 0.2s linear;
}

@media only screen and (min-width: 1200px) {
  .handy-chef:hover .hc-burguer,
  .handy-chef:hover .hc-pizza {
    opacity: 1;
    transition: all 300ms linear;
  }

  .guararapes:hover .gua-leaf-1,
  .guararapes:hover .gua-leaf-2,
  .guararapes:hover .gua-leaf-3 {
    opacity: 1;
    transition: all 300ms linear;
  }
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 85%;
  }

  .hero-right img {
    width: calc(90% + 6rem);
    margin-right: -6rem;
  }
}

@media only screen and (max-width: 1199px) {
  body,
  .copyright,
  .about-me .left div {
    font-size: 1.2rem;
  }

  .container {
    padding: 0 4rem;
  }

  section .container,
  footer .container {
    padding: 8rem 4rem;
  }

  .hero-left h1 {
    white-space: nowrap;
  }

  .hero-left {
    padding-right: 2rem;
  }

  .sub-title {
    font-size: 1.4rem;
  }

  .xray h2 {
    font-size: 1.4rem;
  }

  .xray-icon {
    width: 4rem;
    height: 4rem;
  }

  .contact-icon {
    width: 3rem;
    height: 3rem;
  }

  .about-me .left {
    flex-basis: 66.66%;
  }

  .about-me .right {
    flex-basis: 33.33%;
  }

  .about-me .right img {
    max-width: fit-content;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 72%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .back_to_top:hover {
    background: white;
  }

  .back_to_top:hover path {
    fill: var(--primary-500);
  }

  .about-me .container {
    gap: 2rem;
  }

  section .container,
  footer .container {
    padding: 6rem 4rem;
  }
}

@media only screen and (max-width: 425px) {
  #header-top {
    padding: 2rem 0;
  }

  #header-top.hide {
    top: calc(-6.75rem + -2px);
  }

  .page-header > .container {
    margin-top: calc(6.75rem + 2px);
  }

  nav ul {
    position: fixed;
    background: var(--primary-400);
    z-index: 9999;
    inset: 0;
    flex-direction: column;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    display: none;
    height: 100svh;
  }

  .show-menu {
    display: flex;
  }

  .block-screen {
    overflow: hidden;
  }

  .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    font-size: initial;
    border: 0 !important;
    display: block;
  }

  nav li .button-md {
    height: 7rem;
    padding: 0px 4rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }

  .button-menu {
    padding: 0;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -1rem;
  }

  .button-menu path {
    width: 2rem;
  }

  .container {
    padding: 0 3rem;
  }

  section .container,
  footer .container {
    padding: 4rem 3rem;
  }

  .hero-content {
    padding: 2rem 0 4rem;
  }

  .hero-left {
    padding: 0;
    flex-basis: 100%;
    position: relative;
    z-index: 2;
  }

  .hero-right {
    flex-basis: 0;
    position: relative;
    z-index: 1;
    display: none;
  }

  .hero-left .sub-title {
    padding-right: 28%;
  }

  h1 {
    font-size: 2.5rem;
  }

  footer header,
  section header,
  .about-me .left h1 {
    margin-bottom: 2.4rem;
  }

  .xray,
  .jobs-row,
  .about-me .container {
    flex-direction: column;
  }

  .about-me .container {
    gap: 1rem;
  }

  .about-me .right {
    display: flex;
    justify-content: center;
  }

  .about-me .right img {
    max-width: 40%;
  }

  .xray {
    gap: 3rem;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }

  .job h2 {
    font-size: 1.5rem;
  }

  .jobs-container > *:nth-child(even) {
    flex-direction: column-reverse;
  }
}
